.hero {
  padding: 130px 0 200px 0;

  background: url(../../../assets/images/hero.png) no-repeat;
  background-size: cover;
  background-color: radial-gradient(
    80.99% 71.93% at 74.58% 0%,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.6) 100%
  );

  overflow: hidden;

  color: rgb(var(--txt-light));

  &__box {
    margin-bottom: 48px;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__posted {
    font-family: InterM;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 3px;
    text-transform: uppercase;

    span {
      font-family: InterM;
      font-size: 16px;
      font-weight: 900;
      line-height: 20px;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
  }
  &__title {
    max-width: 803px;

    font-family: Sen;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -2px;
  }
  &__date {
    font-family: InterR;
    font-size: 16px;
    line-height: 28px;

    span {
      color: #ffd050;
    }
  }
  &__description {
    max-width: 599px;

    font-family: InterR;
    font-size: 16px;
    line-height: 28px;
  }

  &__btn {
    padding: 16px 48px;
    border: none;
    border-radius: 5px;

    background: #ffd050;

    color: rgb(var(--txt-dark));
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 133.333% */

    cursor: pointer;
  }
  &__btn:hover {
    background: #ffc82f;
  }
  &__btn:active {
    background: #ffd050;
  }
}

.sectionTitle {
  margin-bottom: 65px;

  color: rgb(var(--txt-dark));
  font-family: Sen;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: -2px;
}

.popularBlogs {
  padding: 94px 0 66px 0;
}
.slick-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}
.categories {
  padding: 69px 0 73px 0;
}
@media (max-width: 1024px) {
  .sectionTitle {
    text-align: center;
  }
  .categories {
    padding: 60px 0 68px 0;
  }
  .popularBlogs {
    text-align: center;
  }
}

@media (max-width: 835px) {
  .sectionTitle {
    margin-bottom: 45px;

    font-size: 32px;
    line-height: 44px;
  }
  .popularBlogs {
    padding: 74px 0 46px 0;
  }
  .categories {
    padding: 50px 0 58px 0;
  }
  .hero {
    padding: 60px 0 130px 0;

    &__box {
      margin-bottom: 38px;
      gap: 18px;
    }
    &__content {
      gap: 14px;
    }

    &__posted {
      font-size: 14px;
      line-height: 16px;

      span {
        font-size: 14px;
        line-height: 16px;
      }
    }
    &__title {
      max-width: 403px;

      font-size: 36px;
      line-height: 44px;
    }
    &__date {
      font-size: 12px;
      line-height: 20px;
    }
    &__description {
      max-width: 299px;

      font-size: 12px;
      line-height: 20px;
    }

    &__btn {
      padding: 10px 20px;

      font-size: 12px;
      line-height: 20px;
    }
  }
}

@media (max-width: 550px) {
  .categories {
    padding: 35px 0 48px 0;
  }
  .popularBlogs {
    padding: 44px 0 36px 0;
  }
  .sectionTitle {
    margin-bottom: 35px;
  }
  .hero {
    padding: 50px 0 90px 0;

    text-align: center;

    &__box {
      margin-bottom: 34px;
      gap: 15px;
    }
    &__content {
      gap: 12px;

      align-items: center;
    }

    &__description {
      max-width: 200px;
      height: 35px;

      overflow: hidden;
    }
  }
}

@media (max-width: 400px) {
  .sectionTitle {
    margin-bottom: 20px;

   
  }
  .hero {
    padding: 40px 0 70px 0;

    text-align: center;

    &__box {
      margin-bottom: 30px;
      gap: 12px;
    }
    &__content {
      gap: 8px;
    }

    &__posted {
      font-size: 10px;
      line-height: 14px;

      span {
        font-size: 10px;
        line-height: 14px;
      }
    }
    &__title {
      font-size: 32px;
      line-height: 42px;
    }
    &__date {
      font-size: 12px;
      line-height: 16px;
    }
    &__description {
      font-size: 12px;
      line-height: 16px;
    }

    &__btn {
      padding: 10px 20px;

      font-size: 12px;
      line-height: 20px;
    }
  }
}
