* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  outline: none;
}
:root {
  --lyt-bgclr: #232536;
  --login-btn-bgclr: #ffffff;
  --ctrl-btns-clr: #ffd050;
  --lyt-txt-clr: #ffffff;
  --txt-dark: 35, 37, 54;
  --txt-light: 255, 255, 255;
}

.container {
  max-width: 1433px;
  padding: 0 50px;
  margin: 0 auto;
}

@media (max-width: 650px) {
  .container {
    padding: 0 35px;
  }
}

@media (max-width: 470px) {
  .container {
    padding: 0 10px;
  }
}
